{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // "no-console": 0,
    "eol-last": "off",
    "strict": ["error", "global"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
  }
}