.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav.navbar-nav > li > a.active {
  color: #fff;
  background-color: #337ab7;
}

header {
  margin-top: 20px;
  margin-bottom: 80px;
}

.document-edit {
  margin-bottom: 10px;
  height: 90px;
}

.form-inline {
  margin-bottom: 10px;
}

.form-inline input {
  margin-right: 5px;
  margin-bottom: 10px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

tbody > tr > td span:hover{
  transition: .5s ease-out all;
  color: red;
  cursor: pointer;
}

.lawsuit th:nth-child(1) {
  width: 9%;
}

.lawsuit th:nth-child(2),
.lawsuit th:nth-child(3),
.lawsuit th:nth-child(4),
.lawsuit th:nth-child(5) {
  width: 11%;
}

.lawsuit th:nth-child(6) {
  width: 8%;
}

.lawsuit th:nth-child(7) {
  width: 39%;
}

@media (min-width: 768px) {
  .form-inline input {
    margin-bottom: 0;
  }
}