.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
  margin-top: 20px;
  margin-bottom: 80px;
}

.form-inline {
  margin-bottom: 8px;
}

.form-inline input {
  margin-right: 5px;
}

.lawsuit th:nth-child(1) {
  width: 10%;
}

.lawsuit th:nth-child(2) {
  width: 18%;
  min-width: 180px;
}

.documents th:nth-child(1) {
  width: 76%;
}

.documents th:nth-child(3) {
  width: 13%;
}

.participants th:nth-child(5) {
  width: 13%;
}

.lawsuit td > p {
  margin-bottom: 5px;
}

.lawsuit td > p > span {
  font-weight: bold;
}

.navbar {
  padding: 0 1rem;
}

.navbar-toggler {
  margin: .5rem 0 .5rem 1rem;
}

.navbar .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav.navbar .nav-item > .nav-link.active {
  color: #fff;
  background-color: #007bff;
}

@media (min-width: 768px) {
  .form-inline input {
    margin-bottom: 0;
  }

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }
}